 .u-section-1 {
  background-image: url("images/ttttt-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1120px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 703px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/avataaars1.png");
  background-position: 50% 50%;
  margin: 31px auto 0 45px;
}

.u-section-1 .u-text-1 {
  line-height: 2.2;
  margin: -239px 8px 0 439px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 129px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -5px;
    margin-right: auto;
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 569px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 154px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -30px;
  }
} .u-section-2 {
  min-height: 666px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 666px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 111px;
  height: 105px;
  margin: 74px auto 0 200px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0 auto 0 281px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 265px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 549px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 216px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 137px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 165px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 448px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 214px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 104px;
  }
}